/* New color theme */
:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --accent-color: #e67e22; /* Orange */
    --text-color: #34495e; /* Dark gray */
    --background-color: #ecf0f1; /* Light gray */
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* General styles */
div.table, div.title, div.contact, div.buttons {
    margin-top: 1rem;
    margin-left: 1rem;
}

table, th, td {
    border: 1px solid var(--primary-color);
    border-top: 0rem;
    border-left: 0rem;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

th {
    padding: 0.5rem;
}

span.contact-data {
    font-weight: normal;
}

div.contact>h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

img.small-img {
    width: 10%;
}

div.buttons {
    border: 1px solid var(--primary-color);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
}

div.buttons>a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

div.button-box, div.button-box-leverancier {
    display: flex;
    justify-content: flex-end;
}

div.button-box {
    width: 70.2%;
}

div.button-box-leverancier {
    width: 75.5%;
}

div.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.section>input {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

div.submit>input {
    border-color: var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    padding: 1rem;
    margin-right: 5rem;
    cursor: pointer;
}

div.submit {
    display: flex;
    justify-content: center;
    width: 30%;
}

h3.succes-text {
    text-align: center;
    border: 0.1rem solid var(--accent-color);
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 50%;
}
